.main {
    margin: 30px;
    background-color: white;
}

body {
    background: url("../img/bg.jpg") repeat;
}

.btn-publish {
    float: right;
    margin-bottom: 20px;
}

.error-tint {
    text-align: center;
}