.main {
    margin: 30px;
    background-color: white;
}

body {
    background: url("../img/bg.jpg") repeat;
}

.btn-publish {
    float: right;
    margin-bottom: 20px;
}

.error-tint {
    text-align: center;
}

.media-object {
    width: 40px;
    height: 40px;
}

.comment-user-name {
    vertical-align: bottom;
}

.comment-list-name {
    vertical-align: top;
}

.faqiren-title {
    vertical-align: middle;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.page-fenye {
    float: right;
}

.profile .section {
    margin-top: 20px;
}

.question-right {
    margin-top: 20px;
}

.community-menu {
    font-size: 14px;
    color: #999999;
    float: right;
    margin-bottom: 30px;
}

.jumbotron {
    margin: 40px;
    background: url("../img/bg.jpg") repeat;
}

.comment-content {
    border-top: 1px #eeeeee;
    margin-top: 40px;
}

.comment-content-head {
    margin-bottom: 10px;
}

.btn-comment {
    float: right;
    margin: 20px 0;
}

.fengexian-section {
    margin: 30px 0;
    clear: right;
}

.fengexian-content {
    margin-top: 20px;
    margin-bottom: 5px;
}

.fengexian-title {
    margin-top: 5px;
    margin-bottom: 20px;
}

.fengexian-comment-list {
    margin-top: 5px;
    margin-bottom: 20px;
}

.reply-content {
    margin-top: 5px;
}

.reply-menu {
    margin-top: 5px;
    color: #999999;
}
.reply-menu .icon {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.reply-menu .icon:hover {
    color: #499ef3;
}

.comment-list {
    clear: right;
}

.comment-list-head {
    margin-top: 30px;
}

.fengexian-comment-item {
    margin: 10px 0;
}