<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>

    <div th:insert="~{navigation :: nav}">
    </div>

    <div class="container-fluid main profile">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${sectionName}"></span></h3>
                <hr >
                <div class="media" th:each="question : ${pageDisplayDTO.getQuestionDTOS()}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584675818266&di=46b5add54bdede3ad74878042a7aa12c&imgtype=0&src=http%3A%2F%2Fa0.att.hudong.com%2F78%2F52%2F01200000123847134434529793168.jpg" alt="avatar">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                        <span th:text="${question.getDescription()}"></span>
                        <span class="text-desc">
                            <span th:text="${question.getCommentCount()}"></span> 个评论 •
                            <span th:text="${question.getViewCount()}"></span> 次浏览 •
                            <span th:text="${question.getLikeCount()}"></span> 次点赞 •
                            <span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </span>
                    </div>
                </div>
                <div class="page-fenye">
                    <nav aria-label="Page navigation" >
                        <ul class="pagination">
                            <li th:if="${pageDisplayDTO.isShowFirstPage()}">
                                <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="First">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:if="${pageDisplayDTO.isShowPrevPage()}">
                                <a th:href="@{'/profile/'+${section}(page=${pageDisplayDTO.getCurrentPage()-1})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>

                            <li th:each="page : ${pageDisplayDTO.getPages()}" th:class="${pageDisplayDTO.getCurrentPage() == page} ? 'active' : ''">
                                <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                            </li>

                            <li th:if="${pageDisplayDTO.isShowNextPage()}">
                                <a th:href="@{'/profile/'+${section}(page=${pageDisplayDTO.getCurrentPage()+1})}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${pageDisplayDTO.isShowLastPage()}">
                                <a th:href="@{'/profile/'+${section}(page=${pageDisplayDTO.getTotalPage()})}" aria-label="Last">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="list-group section">
                    <a href="/profile/questions" th:class="${section == 'questions'} ? 'list-group-item active' : 'list-group-item' ">
                        我的提问
                    </a>
                    <a href="/profile/replies" th:class="${section == 'replies'} ? 'list-group-item active' : 'list-group-item' ">
                        最新回复
                        <span class="badge">14</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>