<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${questionDTO.getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>

<div th:insert="~{navigation :: nav}">
</div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- 标题头 -->
            <div>
                <h3><span th:text="${questionDTO.getTitle()}"></span></h3>
                <span class="text-desc">
                    作者：<span th:text="${questionDTO.getUser().getName()}"></span> •
                    发布时间：<span th:text="${#dates.format(questionDTO.getGmtCreate(), 'yyyy-MM-dd HH:mm:ss')}"></span> •
                    阅读数：<span th:text="${questionDTO.getViewCount()}"></span>
                </span>
                <hr class="fengexian-title">
                <p th:text="${questionDTO.getDescription()}"></p>
                <hr class="fengexian-content">
                <a th:href="@{'/publish/' + ${questionDTO.getId()}}" class="community-menu"
                   th:if="${session.user != null && session.user.getId() == questionDTO.getCreator()}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑
                    </span>
                </a>
            </div>

            <!-- 评论内容列表 -->
            <div class="comment-list">
                <h4 class="comment-list-head">
                    <span th:text="${questionDTO.getCommentCount()}"></span> 个评论
                </h4>
                <hr class="fengexian-comment-list" >
                <div th:each="commentDTO : ${commentDTOs}">
                    <div class="media comment-content-head">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${commentDTO.getUser().getAvatarUrl()}" alt="avatar">
                            </a>
                        </div>
                        <div class="media-body comment-list-name">
                            <h6 class="media-heading">
                                <span th:text="${commentDTO.getUser().getName()}"></span>
                            </h6>
                            <div class="reply-content">
                                <span th:text="${commentDTO.getContent()}"></span>
                            </div>
                            <div class="reply-menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="glyphicon glyphicon-comment icon"></span>
                                <span class="pull-right" th:text="${#dates.format(commentDTO.getGmtCreate(), 'yyyy-MM-dd')}"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="fengexian-comment-item">
                </div>
            </div>

<!--            <hr class="fengexian-section" th:if="${questionDTO.getCommentCount() > 0}">-->

            <!-- 评论输入框 -->
            <div class="comment-content" id="comment_section">
                <div class="media comment-content-head">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${questionDTO.getUser().getAvatarUrl()}" alt="avatar">
                        </a>
                    </div>
                    <div class="media-body comment-user-name">
                        <h6 class="media-heading">
                            <span th:text="${questionDTO.getUser().getName()}"></span>
                        </h6>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${questionDTO.id}">
                <textarea class="form-control" rows="5" id="comment_content"></textarea>
                <button type="submit" class="btn btn-success btn-comment" onclick="post()">评论</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 question-right">
            <div>
                <h4><b>发起人</b></h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${questionDTO.getUser().getAvatarUrl()}" alt="avatar">
                        </a>
                    </div>
                    <div class="media-body faqiren-title">
                        <h5 class="media-heading">
                            <span th:text="${questionDTO.getUser().getName()}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h4><b>相关问题</b></h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>